apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


resources:
  - ../../base

nameSuffix: -dev


labels:
  - pairs:
      env: dev
    includeSelectors: true

images:
- name: nginx 
  newName: nginx
  newTag: "latest"