name: CI Pipeline
on:
    workflow_dispatch:
    push:
      branches: [main]
    
    workflow_run:
      workflows: [gitleaks]
      types:
       - completed
      branches:
      - main
      - feat/test-mithun
      paths-ignore:
      - 'kubernetes/deployment.yaml'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
# Adding a unit test for example purposes 
  test-code:
    name: Unit Testing
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: testing-pwd-and-ls
        run: pwd; ls;
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          cache-dependency-path: app/package-lock.json
      
      - name: Install dependencies
        run: npm ci --only=production
      
      - name: Run tests
        run: npm test || echo "No tests found, would add tests in a real project"

  grype-scan:
    name: SAST - Scan Dependencies with Grype
    runs-on: ubuntu-latest
    steps:
      - name: Scan current project
        uses: anchore/scan-action@v7
        with:
           path: "."
           fail-build: false
           severity-cutoff: high
      

  build-scan-and-push:
    name:  Build, Scan, and Push Docker Image
    runs-on: ubuntu-latest
    needs: [test-code , grype-scan]
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      
    outputs:
      image_tag: ${{ steps.set_output.outputs.image_tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
  
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}
      
      - name: Build Docker image (local)
        run: |
          docker build -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}  .
      
      - name: Setup greyp
        run: |
          curl -sSfL https://get.anchore.io/grype | sudo sh -s -- -b /usr/local/bin && \
          grype ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} --scope AllLayers #--fail-on=high

        
      - name: Smoke test
        run: |
          docker run -d -p 5000:3000 --name smoke_test_container \
          ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} \
          
          sleep 5
          RESPONSE=$(curl -s -o /dev/null -w "%{http_code}" http://localhost:5000/health)
          if [ "$RESPONSE" -ne 200 ]; then
                echo "Smoke test failed: HTTP $RESPONSE"
                exit 1
          else
             echo "Smoke test passed!"
          fi      
      - name: Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} 
      
      - name: Set image tag output
        id: set_output
        run: echo "image_tag=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT


  update-k8s:
    name: Update Kubernetes Deployment
    runs-on: ubuntu-latest
    needs: [build-scan-and-push]
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN }}
      - name: Install yq
        run: |
          curl -L -o /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          chmod +x /usr/local/bin/yq

      - name: Setup Git config
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
      
      - name: Update Kubernetes deployment file
        env:
          IMAGE_TAG: ${{ github.sha }}
          IMAGE_NAME: ${{ github.repository }}
          REGISTRY: ghcr.io
        run: |
          yq -i ' 
          (.images[] | select(.name == "ghcr.io/mithunraj-mithu/noosphere-bootstrap-mithun")).newTag = strenv(IMAGE_TAG)
          ' k8s/overlays/dev/kustomization.yaml

          # Verify the change
          echo "Updated deployment to use image: ${NEW_IMAGE}"
          grep -A 1 "image:" kubernetes/deployment.yaml
      
      - name: Commit and push changes
        run: |
          git add kubernetes/deployment.yaml
          git commit -m "Update Kubernetes deployment with new image tag: ${{ needs.build-scan-and-push.outputs.image_tag }} [skip ci]" || echo "No changes to commit"
          git push

      
  



  
