name: CI Pipeline

on:
  workflow_dispatch:

  pull_request:
    branches: [main]
    paths-ignore:
      - 'k8s/'
      - 'terraform/'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  Git-leak-scan:
    name: Gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  Test-code: # for example purpose.
    name: Unit Testing
    needs: [Git-leak-scan]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          cache-dependency-path: app/package-lock.json

      - run: npm ci --only=production
      - run: npm test || echo "No tests found, would add tests in a real project"

  Grype-scan: # demo
    name: SAST - Scan Dependencies with Grype
    needs: [Git-leak-scan]
    runs-on: ubuntu-latest
    steps:
      - uses: anchore/scan-action@v7
        with:
          path: "."
          fail-build: false
          severity-cutoff: high

  Docker-build-and-push-feature-branch:
    name: Docker build for feature branch
    runs-on: ubuntu-latest
    needs: [Grype-scan,Test-code]
    permissions:
      contents: read
      packages: write
    outputs:
      IMAGE_TAG: ${{ steps.short-sha.outputs.IMAGE_TAG }}
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}

      - name: set short SHA
        id: short-sha
        run: echo "IMAGE_TAG=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: |
          docker build -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} .

      - name: Grype scan Docker image
        run: |
            curl -sSfL https://get.anchore.io/grype | sudo sh -s -- -b /usr/local/bin
            grype ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} --fail-on high

  Docker-build-and-push-main-branch:
       name: Docker build for main
       runs-on: ubuntu-latest
       needs: [Grype-scan,Test-code]
       permissions:
        contents: read
        packages: write
       env:
         REGISTRY: ghcr.io
         IMAGE_NAME: ${{ github.repository }}
       steps:
       - uses: actions/checkout@v4

       - uses: docker/setup-buildx-action@v3

       - uses: docker/login-action@v3
         with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}

       - name: set short SHA
         id: short-sha
         run: echo "IMAGE_TAG=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

       - name: Build Docker image
         run: |
          docker build -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} .

       - name: Grype scan Docker image
         run: |
          curl -sSfL https://get.anchore.io/grype | sudo sh -s -- -b /usr/local/bin
          grype ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} --fail-on high

       - name: smoke test Docker image
         run: |
          docker run -d --name test-container -p 3000:3000 ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          sleep 7
          HTTP_CODE=$(curl -s -o /dev/null -w "%{http_code}" http://localhost:3000/health)
          if [ "$HTTP_CODE" -ne 200 ]; then
            echo "Smoke test failed with HTTP code $HTTP_CODE"
            exit 1
          else
            echo "Smoke test passed with HTTP code $HTTP_CODE"
          fi

       - name: Push Docker image
         run: |
           docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          
           

  update-k8s:
    name: Update Kubernetes Deployment
    runs-on: ubuntu-latest
    needs: [Docker-build-and-push-main-branch]
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN }}

      - run: |
          curl -L -o /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          chmod +x /usr/local/bin/yq

      - run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Update K8s deployment with new image tag
        env:
          IMAGE_TAG: ${{ github.sha }}
          IMAGE_NAME: ${{ github.repository }}
          REGISTRY: ghcr.io
        run: |
          yq -i '(.images[] | select(.name == "ghcr.io/mithunraj-mithu/noosphere-bootstrap-mithun")).newTag = strenv(IMAGE_TAG)' k8s/overlays/dev/kustomization.yaml

      - run: |
          git add k8s/overlays/dev/kustomization.yaml
          git commit -m "Update K8s deployment to image ${{ env.IMAGE_TAG }} [skip ci]" || echo "No changes to commit"
          git pull --rebase origin main
          git push origin main
